<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Autos</title>
</head>
<body>
    <h1 th:text="${saludo}">Autos</h1>
    <table border="1">
        <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th>Kilometraje</th>
        </tr>
        <tr th:each="a : ${autos}">
            <td th:text="${a.placa}"></td>
            <td th:text="${a.modelo}"></td>
            <td th:text="${a.anio}"></td>
            <td th:text="${a.color}"></td>
            <td th:text="${a.kilometraje}"></td>
        </tr>
    </table>
</body>
</html>
