<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Autos</title>
</head>
<body>
    <h1 th:text="${saludo}">Lista de Autos</h1>

    <ul>
        <li th:each="a : ${autos}">
            <strong th:text="${a.modelo}">Modelo</strong>
            <ul>
                <li th:text="'Placa: ' + ${a.placa}">Placa</li>
                <li th:text="'Año: ' + ${a.anio}">Año</li>
                <li th:text="'Color: ' + ${a.color}">Color</li>
                <li th:text="'Kilometraje: ' + ${a.kilometraje} + ' km'">Kilometraje</li>
            </ul>
            <br>
        </li>
    </ul>
</body>
</html>
